.instakeys-container {
    display: flex;
    flex-direction: row;
    padding: 50px;

    .all-settings {
        padding: 50px;
    }
}

.av-settings {
    display: flex;
    justify-content: column;
}